// 阴影
.shadow {
  box-shadow: 0px 0px 10px rgba(228, 231, 237, .8);
}

// flex 垂直水平居中
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// flex column center
.flex-c-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-w-center {
  display: flex;
  align-items: center;
}